.item1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $primaryColor;

  a {
    color: $primaryColor;
  }

  &:hover {
    background-color: $secondaryColor;
  }
}

.item2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $secondaryColor;
}

.item3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $neutraColor;
}
