@import 'variables';
@import 'balls';

@mixin flexCenter($justify_content, $flex_direction) {
  display: flex;
  justify-content: $justify_content;
  align-items: center;
  flex-direction: $flex_direction;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flexCenter(space-evenly, column);
  width: 100%;
  height: 100vh;
  background-color: $bgColor;
}
